@import url("observablehq:default.css");
@import url("observablehq:theme-midnight.css");

:root {
  --accent: rgb(234, 88, 12);
  --accent-dark: #261105;
  --accent-light: rgb(249, 115, 22);
  --gray-100: rgb(245, 241, 238);
  --gray-200: rgb(230, 226, 223);
  --gray-300: rgb(213, 209, 206);
  --gray-400: rgb(166, 162, 159);
  --body-bg: #100905;
  --body-color: rgb(166, 162, 159);
  --link-color: rgb(250, 246, 243);
  --input-bg: var(--gray-100);
  --footer-fg: var(--gray-300);
  --sidebar-fg: var(--gray-300);
  --toc-color: var(--accent);
}

:root {
  /* --theme-foreground: white; */
  --theme-background: var(--body-bg);
  --theme-background-alt: var(--body-bg);
  --theme-foreground-alt: rgb(166, 162, 159);
  --theme-foreground-muted: var(--gray-400);
  /* --theme-foreground-faint: blue; */
  /* --theme-foreground-fainter - fainter border color, e.g. light gray */
  /* --theme-foreground-faintest - faintest border color, e.g. almost white */
  --theme-foreground-focus: var(--accent);
}


/* bottom nav links */
footer nav a {
  border: 1px solid var(--accent-dark);
  padding: 0 .5rem;
  border: 1px solid var(--accent);
  border-radius: 9999px;
  color: var(--accent);
  font-weight: normal;
}


/* footer */
#observablehq-footer div a {
  text-decoration: none;
  color: var(--gray-400);
}

#observablehq-footer div a:hover {
  color: #000;
  color: var(--gray-300);
}
